IMDQ_ENV=development
IMDQ_LOG_LEVEL=INFO
IMDQ_DATA_DIR=./var/data
IMDQ_WAREHOUSE_PATH=./var/warehouse.duckdb
IMDQ_MAX_UPLOAD_MB=256
IMDQ_CORS_ORIGINS=["http://localhost:5173"]
IMDQ_QUERY_ROW_LIMIT=5000
IMDQ_ENABLE_LOCAL_LLM_FALLBACK=false
IMDQ_LOCAL_LLM_URL=http://127.0.0.1:11434
